body {
    background-color:#eee;
}
p {
    font-style:italic;
    font-weight:bolder;
    font-size:1.2em;
    color:#060933;
    text-align:left;
    text-indent:40px;
    line-height:1.8;
    word-spacing:10px;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5)
}

a{
    color:rgb(35, 156, 35);
    background-color:#f00;
    border:solid 1px #d00;
    text-transform:capitalize;
    letter-spacing:3px;
    padding:15px;
    margin:15px;
    border-radius:4px;
    text-shadow:4px 4px 4px rgba(0,0,0,1)
}

a:link{
    color:red;
    text-decoration:none;
}

a:visited{
    color:white;
}

a:hover{
    color:gray;
    text-decoration:underline;
    background-color:white;
}
a:active{
    color:black;
}